[submodule ".local/share/zsh/plugins/github.com/mafredri/zsh-async"]
	path = .local/share/zsh/plugins/github.com/mafredri/zsh-async
	url = https://github.com/mafredri/zsh-async
[submodule ".local/share/zsh/plugins/github.com/sindresorhus/pure"]
	path = .local/share/zsh/plugins/github.com/sindresorhus/pure
	url = https://github.com/sindresorhus/pure
[submodule ".local/share/zsh/plugins/github.com/Aloxaf/fzf-tab"]
	path = .local/share/zsh/plugins/github.com/Aloxaf/fzf-tab
	url = https://github.com/Aloxaf/fzf-tab
[submodule ".local/share/zsh/plugins/github.com/paulirish/git-open"]
	path = .local/share/zsh/plugins/github.com/paulirish/git-open
	url = https://github.com/paulirish/git-open
[submodule ".local/share/zsh/plugins/github.com/zsh-users/zsh-autosuggestions"]
	path = .local/share/zsh/plugins/github.com/zsh-users/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions
[submodule ".local/share/zsh/plugins/github.com/zsh-users/zsh-completions"]
	path = .local/share/zsh/plugins/github.com/zsh-users/zsh-completions
	url = https://github.com/zsh-users/zsh-completions
[submodule ".local/share/zsh/plugins/github.com/hlissner/zsh-autopair"]
	path = .local/share/zsh/plugins/github.com/hlissner/zsh-autopair
	url = https://github.com/hlissner/zsh-autopair
[submodule ".local/share/zsh/plugins/github.com/z-shell/F-Sy-H"]
	path = .local/share/zsh/plugins/github.com/z-shell/F-Sy-H
	url = https://github.com/z-shell/F-Sy-H
[submodule ".local/share/zsh/plugins/github.com/zsh-users/zsh-history-substring-search"]
	path = .local/share/zsh/plugins/github.com/zsh-users/zsh-history-substring-search
	url = https://github.com/zsh-users/zsh-history-substring-search
[submodule ".local/share/zsh/plugins/github.com/mnowotnik/extra-fzf-completions"]
	path = .local/share/zsh/plugins/github.com/mnowotnik/extra-fzf-completions
	url = https://github.com/mnowotnik/extra-fzf-completions
[submodule ".config/nvim/pack/plugins/start/bracketed-paste"]
	path = .config/nvim/pack/plugins/start/bracketed-paste
	url = https://github.com/ConradIrwin/vim-bracketed-paste
[submodule ".config/nvim/pack/plugins/opt/indent-blankline"]
	path = .config/nvim/pack/plugins/opt/indent-blankline
	url = https://github.com/lukas-reineke/indent-blankline.nvim
[submodule ".config/nvim/pack/plugins/start/gitsigns"]
	path = .config/nvim/pack/plugins/start/gitsigns
	url = https://github.com/lewis6991/gitsigns.nvim
[submodule ".config/nvim/pack/plugins/start/lspconfig"]
	path = .config/nvim/pack/plugins/start/lspconfig
	url = https://github.com/neovim/nvim-lspconfig
[submodule ".config/nvim/pack/plugins/start/cmp-nvim-lsp"]
	path = .config/nvim/pack/plugins/start/cmp-nvim-lsp
	url = https://github.com/hrsh7th/cmp-nvim-lsp
[submodule ".config/nvim/pack/plugins/start/cmp-buffer"]
	path = .config/nvim/pack/plugins/start/cmp-buffer
	url = https://github.com/hrsh7th/cmp-buffer
[submodule ".config/nvim/pack/plugins/start/cmp-path"]
	path = .config/nvim/pack/plugins/start/cmp-path
	url = https://github.com/hrsh7th/cmp-path
[submodule ".config/nvim/pack/plugins/start/cmp-cmdline"]
	path = .config/nvim/pack/plugins/start/cmp-cmdline
	url = https://github.com/hrsh7th/cmp-cmdline
[submodule ".config/nvim/pack/plugins/start/cmp-nvim-lsp-signature-help"]
	path = .config/nvim/pack/plugins/start/cmp-nvim-lsp-signature-help
	url = https://github.com/hrsh7th/cmp-nvim-lsp-signature-help
[submodule ".config/nvim/pack/plugins/start/plenary"]
	path = .config/nvim/pack/plugins/start/plenary
	url = https://github.com/nvim-lua/plenary.nvim
[submodule ".config/nvim/pack/plugins/start/telescope"]
	path = .config/nvim/pack/plugins/start/telescope
	url = https://github.com/nvim-telescope/telescope.nvim
[submodule ".config/nvim/pack/plugins/start/telescope-file-browser"]
	path = .config/nvim/pack/plugins/start/telescope-file-browser
	url = https://github.com/nvim-telescope/telescope-file-browser.nvim
[submodule ".config/nvim/pack/plugins/start/dap"]
	path = .config/nvim/pack/plugins/start/dap
	url = https://github.com/mfussenegger/nvim-dap
[submodule ".config/nvim/pack/plugins/start/dap-go"]
	path = .config/nvim/pack/plugins/start/dap-go
	url = https://github.com/leoluz/nvim-dap-go
[submodule ".config/nvim/pack/plugins/start/telescope-dap"]
	path = .config/nvim/pack/plugins/start/telescope-dap
	url = https://github.com/nvim-telescope/telescope-dap.nvim
[submodule ".config/nvim/pack/plugins/start/telescope-lsp-handlers"]
	path = .config/nvim/pack/plugins/start/telescope-lsp-handlers
	url = https://github.com/gbrlsnchs/telescope-lsp-handlers.nvim
[submodule ".config/nvim/pack/plugins/start/neoclip"]
	path = .config/nvim/pack/plugins/start/neoclip
	url = https://github.com/AckslD/nvim-neoclip.lua
[submodule ".config/nvim/pack/plugins/start/notify"]
	path = .config/nvim/pack/plugins/start/notify
	url = https://github.com/rcarriga/nvim-notify
[submodule ".config/nvim/pack/plugins/start/telescope-ui-select"]
	path = .config/nvim/pack/plugins/start/telescope-ui-select
	url = https://github.com/nvim-telescope/telescope-ui-select.nvim
[submodule ".config/nvim/pack/plugins/start/treesitter"]
	path = .config/nvim/pack/plugins/start/treesitter
	url = https://github.com/nvim-treesitter/nvim-treesitter
[submodule ".config/nvim/pack/plugins/start/autopairs"]
	path = .config/nvim/pack/plugins/start/autopairs
	url = https://github.com/windwp/nvim-autopairs
[submodule ".config/nvim/pack/plugins/start/cmp"]
	path = .config/nvim/pack/plugins/start/cmp
	url = https://github.com/hrsh7th/nvim-cmp
[submodule ".config/nvim/pack/plugins/start/LuaSnip"]
	path = .config/nvim/pack/plugins/start/LuaSnip
	url = https://github.com/L3MON4D3/LuaSnip
[submodule ".config/nvim/pack/plugins/start/cmp_luasnip"]
	path = .config/nvim/pack/plugins/start/cmp_luasnip
	url = https://github.com/saadparwaiz1/cmp_luasnip
[submodule ".config/nvim/pack/plugins/start/comment"]
	path = .config/nvim/pack/plugins/start/comment
	url = https://github.com/numToStr/Comment.nvim
[submodule ".config/nvim/pack/plugins/start/which-key"]
	path = .config/nvim/pack/plugins/start/which-key
	url = https://github.com/folke/which-key.nvim
