[alias]
  co = checkout
  ci = commit
  cm = commit -m
  st = status
  br = branch
  hist = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
  type = cat-file -t
  dump = cat-file -p
[core]
	excludesfile = /Users/mitinarseny/.gitexcludes
[user]
	name = Arseny Mitin
	email = mitinarseny@gmail.com
