[Desktop Entry]
Type=Application
Name=Htop
GenericName=Process Viewer
Comment=Show System Processes
Icon=htop
Exec=alacritty -e htop
Categories=System;Monitor;ConsoleOnly;
Keywords=system;process;task
